<a href="https://colab.research.google.com/github/Rosvend/Patrol-routes-optimization-Medellin/blob/main/EDA_PATIC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!pip install ydata-profiling
from ydata_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gdown

Requirement already satisfied: ydata-profiling in /usr/local/lib/python3.11/dist-packages (4.13.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (2.10.6)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (3.1.5)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in /usr/local/lib/python3.11/dist-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (0.14.4)
Requirement already satisfied: typeguard<5,>=3 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (4.4.2)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<1,>=0.56.0 in /usr/local/lib/python3.11/dist-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.11/dist-packages (from imagehash==4.3.1->ydata-profiling) (1.8.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from imagehash==4.3.1->ydata-profiling) (11.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.11/dist-packages (from numba<1,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.11/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2->ydata-profiling) (2.27.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.11/dist-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (25.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.11/dist-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)

In [15]:
file_id = '1W2RFSUveoSCtpLxcaOTZmLAe0sczxPTW'

download_url = f'https://drive.google.com/uc?export=download&id={file_id}'
gdown.download(download_url, 'hurto_a_persona.csv', quiet=False)

Downloading...
From (original): https://drive.google.com/uc?export=download&id=1W2RFSUveoSCtpLxcaOTZmLAe0sczxPTW
From (redirected): https://drive.google.com/uc?export=download&id=1W2RFSUveoSCtpLxcaOTZmLAe0sczxPTW&confirm=t&uuid=07906353-8a26-4a4d-8b6c-f946ad22ba20
To: /content/hurto_a_persona.csv
100%|██████████| 124M/124M [00:01<00:00, 82.7MB/s]

'hurto_a_persona.csv'

In [16]:
import pandas as pd
df = pd.read_csv('/content/hurto_a_persona.csv')

<ipython-input-16-4f77b2b51170>:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/hurto_a_persona.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326489 entries, 0 to 326488
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fecha_hecho          326489 non-null  object
 1   cantidad             326489 non-null  float64
 2   latitud              284545 non-null  float64
 3   longitud             284545 non-null  float64
 4   sexo                 326489 non-null  object
 5   edad                 326489 non-null  int64
 6   estado_civil         326489 non-null  object
 7   grupo_actor          326489 non-null  object
 8   actividad_delictiva  326489 non-null  object
 9   parentesco           326489 non-null  object
 10  ocupacion            326489 non-null  object
 11  discapacidad         326489 non-null  object
 12  grupo_especial       326489 non-null  object
 13  medio_transporte     326489 non-null  object
 14  nivel_academico      326489 non-null  object
 15  testigo              326489 non-null  object
 16  conducta             326489 non-null  object
 17  modalidad            326489 non-null  object
 18  caracterizacion      326489 non-null  object
 19  conducta_especial    326489 non-null  object
 20  arma_medio           326489 non-null  object
 21  articulo_penal       326489 non-null  object
 22  categoria_penal      326489 non-null  object
 23  nombre_barrio        326489 non-null  object
 24  codigo_barrio        326489 non-null  object
 25  codigo_comuna        326489 non-null  object
 26  lugar                326489 non-null  object
 27  sede_receptora       326489 non-null  object
 28  bien                 326489 non-null  object
 29  categoria_bien       326489 non-null  object
 30  grupo_bien           326489 non-null  object
 31  modelo               326489 non-null  int64
 32  color                326489 non-null  object
 33  permiso              326489 non-null  object
 34  unidad_medida        326489 non-null  object
 35  fecha_ingestion      326489 non-null  object
dtypes: float64(3), int64(2), object(31)
memory usage: 89.7+ MB

In [20]:
df['fecha_hecho'] = pd.to_datetime(df['fecha_hecho'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326489 entries, 0 to 326488
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fecha_hecho          326489 non-null  datetime64[ns, UTC-05:00]
 1   cantidad             326489 non-null  float64
 2   latitud              284545 non-null  float64
 3   longitud             284545 non-null  float64
 4   sexo                 326489 non-null  object
 5   edad                 326489 non-null  int64
 6   estado_civil         326489 non-null  object
 7   grupo_actor          326489 non-null  object
 8   actividad_delictiva  326489 non-null  object
 9   parentesco           326489 non-null  object
 10  ocupacion            326489 non-null  object
 11  discapacidad         326489 non-null  object
 12  grupo_especial       326489 non-null  object
 13  medio_transporte     326489 non-null  object
 14  nivel_academico      326489 non-null  object
 15  testigo              326489 non-null  object
 16  conducta             326489 non-null  object
 17  modalidad            326489 non-null  object
 18  caracterizacion      326489 non-null  object
 19  conducta_especial    326489 non-null  object
 20  arma_medio           326489 non-null  object
 21  articulo_penal       326489 non-null  object
 22  categoria_penal      326489 non-null  object
 23  nombre_barrio        326489 non-null  object
 24  codigo_barrio        326489 non-null  object
 25  codigo_comuna        326489 non-null  object
 26  lugar                326489 non-null  object
 27  sede_receptora       326489 non-null  object
 28  bien                 326489 non-null  object
 29  categoria_bien       326489 non-null  object
 30  grupo_bien           326489 non-null  object
 31  modelo               326489 non-null  int64
 32  color                326489 non-null  object
 33  permiso              326489 non-null  object
 34  unidad_medida        326489 non-null  object
 35  fecha_ingestion      326489 non-null  object
dtypes: datetime64[ns, UTC-05:00](1), float64(3), int64(2), object(30)
memory usage: 89.7+ MB

In [22]:
df.replace('Sin dato', np.nan, inplace=True)
df.isnull().sum()

<ipython-input-22-74df9e522d7a>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('Sin dato', np.nan, inplace=True)

fecha_hecho                 0
cantidad                    0
latitud                 41944
longitud                41944
sexo                     1701
edad                        0
estado_civil            38103
grupo_actor            326489
actividad_delictiva    326489
parentesco             326489
ocupacion              326489
discapacidad           326489
grupo_especial         326489
medio_transporte        15612
nivel_academico        326489
testigo                326489
conducta                    0
modalidad               11294
caracterizacion        326489
conducta_especial      228738
arma_medio               9641
articulo_penal         326489
categoria_penal        326489
nombre_barrio            5171
codigo_barrio               0
codigo_comuna               0
lugar                    4797
sede_receptora           5544
bien                    30458
categoria_bien          30458
grupo_bien              30458
modelo                      0
color                  241457
permiso                326489
unidad_medida          326489
fecha_ingestion             0
dtype: int64

In [23]:
df.drop(columns=['caracterizacion', 'categoria_penal', 'nivel_academico', 'grupo_especial', 'discapacidad', 'ocupacion',
                 'parentesco', 'grupo_actor', 'actividad_delictiva', 'testigo', 'articulo_penal', 'categoria_penal',
                 'permiso', 'unidad_medida','conducta'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326489 entries, 0 to 326488
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fecha_hecho        326489 non-null  datetime64[ns, UTC-05:00]
 1   cantidad           326489 non-null  float64
 2   latitud            284545 non-null  float64
 3   longitud           284545 non-null  float64
 4   sexo               324788 non-null  object
 5   edad               326489 non-null  int64
 6   estado_civil       288386 non-null  object
 7   medio_transporte   310877 non-null  object
 8   conducta           326489 non-null  object
 9   modalidad          315195 non-null  object
 10  conducta_especial  97751 non-null   object
 11  arma_medio         316848 non-null  object
 12  nombre_barrio      321318 non-null  object
 13  codigo_barrio      326489 non-null  object
 14  codigo_comuna      326489 non-null  object
 15  lugar              321692 non-null  object
 16  sede_receptora     320945 non-null  object
 17  bien               296031 non-null  object
 18  categoria_bien     296031 non-null  object
 19  grupo_bien         296031 non-null  object
 20  modelo             326489 non-null  int64
 21  color              85032 non-null   object
 22  fecha_ingestion    326489 non-null  object
dtypes: datetime64[ns, UTC-05:00](1), float64(3), int64(2), object(17)
memory usage: 57.3+ MB

In [38]:
df = df[df["fecha_hecho"] > "2015-01-01"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 268680 entries, 0 to 326488
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fecha_hecho        268680 non-null  datetime64[ns, UTC-05:00]
 1   cantidad           268680 non-null  float64
 2   latitud            240967 non-null  float64
 3   longitud           240967 non-null  float64
 4   sexo               268643 non-null  object
 5   edad               268680 non-null  int64
 6   estado_civil       238465 non-null  object
 7   medio_transporte   268642 non-null  object
 8   conducta           268680 non-null  object
 9   modalidad          265474 non-null  object
 10  conducta_especial  79680 non-null   object
 11  arma_medio         267000 non-null  object
 12  nombre_barrio      264407 non-null  object
 13  codigo_barrio      268680 non-null  object
 14  codigo_comuna      268680 non-null  object
 15  lugar              265290 non-null  object
 16  sede_receptora     268680 non-null  object
 17  bien               240199 non-null  object
 18  categoria_bien     240199 non-null  object
 19  grupo_bien         240199 non-null  object
 20  modelo             268680 non-null  int64
 21  color              75772 non-null   object
 22  fecha_ingestion    268680 non-null  object
dtypes: datetime64[ns, UTC-05:00](1), float64(3), int64(2), object(17)
memory usage: 49.2+ MB